*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.OuterContainer{
    width: 99%;
    min-height: 99vh;
  
 
}

header{
    width: 100%;
    height: 10%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.colorContainer{
    width: 100%;
    height: 90%;
    display: flex;
}

.color{
    width: 20%;
    height: 100%;
    position: relative;
}


.colorDetails{
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.colorDetails h2{
    font-size: 30px;
}

.colorDetails p{
    font-size: 22px;
}

.colorNavigation{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
}

.colorNavigation img{
    object-fit: contain;
    width: 10%;
    cursor: pointer;
}

.color:hover .colorNavigation {
    visibility: visible;
}

.locked{
color: black
}

.mobile{
    display: none;
}

@media only screen and (max-width: 850px){

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    header{
        background-color: rebeccapurple;
    }

    .mobile{
        display: block;
    }

    header h2{
        display: none;
    }

    .colorContainer {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
    }

    .color{
        width: 100%;
        height: 20%;
        position: relative;
    }

    .colorNavigation{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        visibility: visible;
    }

    .colorNavigation img{
        object-fit: contain;
        width: 10%;
        cursor: pointer;
    }

    .colorDetails{
        width: 40%;
        height: 100%;
        right: 0;
        
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }



}